/*
0 - 600px : Phone
600px - 900px : Tablet Portrait
900px - 1200px : Tablet Landscape
1200px - 1800px : Normal
1800px < : Big Desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 68.75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #fff;
  overflow-x: hidden; }

.container {
  max-width: 112.5rem;
  margin: auto;
  overflow: hidden; }

.container-no-max-width {
  margin: auto;
  overflow: hidden; }

.section {
  padding-right: 2rem;
  padding-left: 2rem;
  margin-bottom: 2rem; }

.section-no-bottom {
  padding-right: 2rem;
  padding-left: 2rem; }

button:focus {
  outline: none; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.05rem;
  color: #111111;
  background-color: #fff; }

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #fff; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-family: 'Roboto', sans-serif; }

.text--dark {
  color: #111111; }

.text--gray {
  color: #333333; }

.text--light {
  color: #666666; }

.text--white {
  color: #fff; }

.text--primary {
  color: #00403a; }

.text--primary-3 {
  color: #00bfaf; }

.text--secondary-2 {
  color: #ff598f; }

.heading {
  text-transform: uppercase; }
  .heading--primary {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    font-family: 'Roboto Condensed', sans-serif; }
  .heading--secondary {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1; }
  .heading--tertiary {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; }
  .heading--large {
    font-size: 7rem;
    font-weight: 900;
    line-height: 1; }
  .heading--thin {
    font-size: 1.6rem;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif; }

.font-large {
  font-size: 2rem;
  line-height: 1.2;
  color: #fff; }

.smallprint {
  font-size: 0.9rem; }

.smallerprint {
  font-size: 0.8rem; }

.u-text-center {
  text-align: center; }

.u-padding-10 {
  padding: 10rem; }

.u-padding-8 {
  padding: 8rem; }

.u-padding-6 {
  padding: 6rem; }

.u-padding-4 {
  padding: 4rem; }

.u-padding-2 {
  padding: 2rem; }

.u-padding-1 {
  padding: 1rem; }

.u-padding-y-30 {
  padding-top: 30rem;
  padding-bottom: 30rem; }

.u-padding-y-26 {
  padding-top: 26rem;
  padding-bottom: 26rem; }

.u-padding-y-22 {
  padding-top: 22rem;
  padding-bottom: 22rem; }

.u-padding-y-18 {
  padding-top: 18rem;
  padding-bottom: 18rem; }

.u-padding-y-14 {
  padding-top: 14rem;
  padding-bottom: 14rem; }

.u-padding-y-10 {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.u-padding-y-8 {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.u-padding-y-6 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.u-padding-y-4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.u-padding-y-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.u-padding-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.u-padding-x-10 {
  padding-right: 10rem;
  padding-left: 10rem; }

.u-padding-x-8 {
  padding-right: 8rem;
  padding-left: 8rem; }

.u-padding-x-6 {
  padding-right: 6rem;
  padding-left: 6rem; }

.u-padding-x-4 {
  padding-right: 4rem;
  padding-left: 4rem; }

.u-padding-x-2 {
  padding-right: 2rem;
  padding-left: 2rem; }

.u-padding-x-1 {
  padding-right: 1rem;
  padding-left: 1rem; }

.u-margin-top-30 {
  margin-top: 30rem; }

.u-margin-top-26 {
  margin-top: 26rem; }

.u-margin-top-22 {
  margin-top: 22rem; }

.u-margin-top-18 {
  margin-top: 18rem; }

.u-margin-top-14 {
  margin-top: 14rem; }

.u-margin-top-10 {
  margin-top: 10rem; }

.u-margin-top-8 {
  margin-top: 8rem; }

.u-margin-top-6 {
  margin-top: 6rem; }

.u-margin-top-4 {
  margin-top: 4rem; }

.u-margin-top-2 {
  margin-top: 2rem; }

.u-margin-top-1 {
  margin-top: 1rem; }

.u-margin-right-6 {
  margin-right: 6rem; }

.u-margin-right-5 {
  margin-right: 5rem; }

.u-margin-right-4 {
  margin-right: 4rem; }

.u-margin-right-3 {
  margin-right: 3rem; }

.u-margin-right-2 {
  margin-right: 2rem; }

.u-margin-right-1 {
  margin-right: 1rem; }

.u-margin-bottom-30 {
  margin-bottom: 30rem; }

.u-margin-bottom-26 {
  margin-bottom: 26rem; }

.u-margin-bottom-22 {
  margin-bottom: 22rem; }

.u-margin-bottom-18 {
  margin-bottom: 18rem; }

.u-margin-bottom-14 {
  margin-bottom: 14rem; }

.u-margin-bottom-10 {
  margin-bottom: 10rem; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-6 {
  margin-bottom: 6rem; }

.u-margin-bottom-4 {
  margin-bottom: 4rem; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

.u-margin-bottom-1 {
  margin-bottom: 1rem; }

.u-margin-left-6 {
  margin-left: 6rem; }

.u-margin-left-5 {
  margin-left: 5rem; }

.u-margin-left-4 {
  margin-left: 4rem; }

.u-margin-left-3 {
  margin-left: 3rem; }

.u-margin-left-2 {
  margin-left: 2rem; }

.u-margin-left-1 {
  margin-left: 1rem; }

.u-padding-0 {
  padding: 0; }

.u-margin-0 {
  margin: 0; }

.u-padding-margin-0 {
  padding: 0;
  margin: 0; }

.u-bg-white {
  background-color: #fff; }

.u-text-uppercase {
  text-transform: uppercase; }

.btn {
  padding: 1.3rem 3.7rem;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: all .5s ease;
  font-size: 1.8rem;
  text-transform: uppercase; }
  .btn:hover {
    background-color: #00403a; }
  .btn--secondary {
    background-color: #401624; }
    .btn--secondary:hover {
      background-color: #ff598f; }
  .btn--secondary-2 {
    background-color: #ff598f; }
    .btn--secondary-2:hover {
      background-color: #401624; }
  .btn--full-width {
    border: none;
    padding-top: 1rem;
    width: 100%;
    display: block;
    text-align: center; }
    .btn--full-width:hover {
      border: none; }
  .btn--small {
    font-size: 1.4rem;
    padding: 1rem 2rem; }

.navbar {
  background-color: rgba(12, 185, 172, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  .navbar__flex {
    display: flex;
    justify-content: space-between; }
  .navbar__logo {
    width: 20rem; }
  .navbar__socials-and-hamburger {
    display: flex; }
  .navbar__socials {
    display: flex;
    margin-top: 0.3rem; }
  .navbar__social {
    width: 3rem;
    cursor: pointer; }
  .navbar__hamburger {
    width: 5rem;
    cursor: pointer; }

.header {
  height: 100vh;
  width: 100vw; }
  .header__slider {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden; }
  .header__slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: opacity 0.7s ease-in; }
    .header__slide--current {
      opacity: 1; }

.showcase {
  height: 100%; }
  .showcase__container {
    height: 100%; }
  .showcase__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 6rem; }
  .showcase__arrow {
    width: 4rem;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%); }

.featured {
  background-color: #00403a; }
  .featured__opportunities {
    display: flex; }
  .featured__opportunity {
    background-color: white;
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.welcome__underline {
  height: 2px;
  width: 6rem;
  background-color: #00bfaf; }

.welcome__flex {
  display: grid;
  grid-template-columns: 3fr 2fr; }

.welcome__image img {
  width: 100%; }

.location {
  background-color: #401624; }
  .location__flex {
    display: flex;
    position: relative; }
  .location_flex > * {
    flex: 1;
    z-index: 1;
    height: 350px; }
  .location__google {
    flex: 1;
    height: 350px; }
    .location__google iframe {
      height: 100%;
      width: 100%; }
  .location__address {
    flex: 1;
    position: relative; }
  .location__address-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .location__underline {
    height: 2px;
    width: 5.5rem;
    background-color: #ff598f; }
  .location__btn {
    display: block;
    width: 22rem; }

.footer__content {
  display: flex; }

.footer__logo {
  width: 13rem; }

/*** YOUR CSS STYLES GOES HERE ***/
/* Please see other scss files to see my styling */
