// BLACK, WHITE AND GRAYS
$color-black: #000;
$color-white: #fff;
$color-gray-dark: #111111;
$color-gray: #333333;
$color-gray-light: #666666;

// MAIN COLOURS
$color-primary: #00403a;
$color-primary-2: #0cb9ac;
$color-primary-3: #00bfaf;
$color-secondary: #401624;
$color-secondary-2: #ff598f;
