.btn {
  padding: 1.3rem 3.7rem;
  border: 2px solid $color-white;
  background-color: transparent;
  color: $color-white;
  transition: all .5s ease;
  font-size: 1.8rem;
  text-transform: uppercase;

  &:hover {
    background-color: $color-primary;
  }

  &--secondary {
    background-color: $color-secondary;

    &:hover {
      background-color: $color-secondary;
      opacity: 0.9;
    }
  }

  &--secondary-2 {
    background-color: $color-secondary-2;

    &:hover {
      background-color: $color-secondary-2;
      opacity: 0.9;
    }
  }

  &--full-width {
    border: none;
    padding-top: 1rem;
    width: 100%;
    display: block;
    text-align: center;

    &:hover {
      border: none;
    }
  }
}