.btn {
  padding: 1.3rem 3.7rem;
  border: 2px solid $color-white;
  background-color: transparent;
  color: $color-white;
  transition: all .5s ease;
  font-size: 1.8rem;
  text-transform: uppercase;

  &:hover {
    background-color: $color-primary;
  }

  &--secondary {
    background-color: $color-secondary;

    &:hover {
      opacity: 0.9;
    }
  }

  &--secondary-2 {
    background-color: $color-secondary-2;

    &:hover {
      opacity: 0.9;
    }
  }

  &--no-border {
    border: none;

    &:hover {
      border: none;
    }
  }
}