header {
  height: 100vh;
  width: 100vw;
  background-image: url(../../img/hero_image_one.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: relative;
}

.showcase {
  height: 100%;

  &__container {
    height: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: #000000, $alpha: 0.4);
    padding-bottom: 6rem;
  }

  &__arrow {
    width: 4rem;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}