body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.05rem;
  color: $color-gray-dark;
  background-color: $color-white;
}

p {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: $color-white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $color-white;
  font-family: 'Roboto', sans-serif;
}

.text {

  &--dark {
    color: $color-gray-dark;
  }

  &--gray {
    color: $color-gray;
  }

  &--light {
    color: $color-gray-light;
  }

  &--white {
    color: $color-white;
  }

  &--primary {
    color: $color-primary;
  }

  &--primary-3 {
    color: $color-primary-3;
  }

  &--secondary-2 {
    color: $color-secondary-2;
  }
}

.heading {
  text-transform: uppercase;

  &--primary {
    font-size: 3rem;
    font-weight: 400;
  }

  &--secondary {
    font-size: 1.6rem;
    font-weight: 600;
  }

  &--large {
    font-size: 7rem;
    font-weight: 900;
  }
}